---
import MainLayout, { jwtDetails } from "../../../layouts/main.astro";
import Padding from "../../../layouts/padding.astro";
import type { Schedule } from "../../../models/schedule";
import Form from "./_form.svelte";

const authorization = Astro.cookies.get("Authorization")?.value ?? "";
const options = {
  headers: {
    "content-type": "application/json",
    authorization: authorization,
  },
  method: "GET",
};

const { slug } = Astro.params;
const response = await fetch(
  `${process.env.SERVER}/api/v1/schedule/${slug}`,
  options,
);


const schedule: Schedule = await response.json();

const responseOdontologist = await fetch(
  `${process.env.SERVER}/api/v1/odontologist/${schedule.odontologistId}`,
  options,
);
schedule.odontologist = await responseOdontologist.json();
---

<MainLayout>
  <Padding>
    <div class="mt-4">
      <Form schedule={schedule} token={jwtDetails.getToken()} client:load />
    </div>
  </Padding>
</MainLayout>
