---
import MainLayout, { jwtDetails } from "../../../layouts/main.astro";
import Padding from "../../../layouts/padding.astro";
import { Role } from "../../../models/enums";
import type { Odontologist } from "../../../models/odontologist";
import type { Schedule } from "../../../models/schedule";
import Form from "./_form.svelte";

if (!jwtDetails.isVerified()) {
  return Astro.redirect("/not_verified");
}

if (jwtDetails.getRole() === Role.NONE) {
  return Astro.redirect("/sign_in");
}

const authorization = Astro.cookies.get("Authorization")?.value ?? "";
const options = {
  headers: {
    "content-type": "application/json",
    authorization: authorization,
  },
  method: "GET",
};

const responseOdontologist = await fetch(
  `${process.env.SERVER}/api/v1/odontologists`,
  options,
);

const responseSchedules = await fetch(
  `${process.env.SERVER}/api/v1/schedules`,
  options,
);

const schedules: Schedule[] = await responseSchedules.json();
const odontologists: Odontologist[] = await responseOdontologist.json();
---

<MainLayout>
  <Padding>
    <div class="mt-4">
      <Form
        odontologists={odontologists}
        schedules={schedules}
        token={jwtDetails.getToken()}
        client:load
      />
    </div>
  </Padding>
</MainLayout>
