---
import MainLayout, { jwtDetails } from "../../layouts/main.astro";
import Padding from "../../layouts/padding.astro";
import { Image } from "astro:assets";
import Placeholder from "../../../public/placeholder.png";
import { Role } from "../../models/enums";
import MagnifierGlass from "../../components/svg/magnifierGlass.svelte";
import SearchBar from "./_searchBar.svelte";

if (!jwtDetails.isValid()) {
  Astro.cookies.set("Authorization", "", { path: "", maxAge: 0 });
  return Astro.redirect("/user/sign_in");
}
if (
  !(jwtDetails.getRole() === Role.ADMIN || jwtDetails.getRole() == Role.VISITOR)
) {
  return Astro.redirect("/");
}
const authorization = Astro.cookies.get("Authorization")?.value ?? "";
const options = {
  headers: {
    "content-type": "application/json",
    authorization: authorization,
  },
  method: "GET",
};
const response = await fetch(
  `${process.env.SERVER}/api/v1/users/others`,
  options,
);
const body = await response.json();
---

<MainLayout title="Users - Index" description="Verify all registered users.">
  <Padding>
    <section
      class="flex flex-col-reverse px-2 lg:flex-row"
      transition:animate="fade"
    >
      {
        body.length > 0 ? (
          <>
            {jwtDetails.getRole() === Role.ADMIN ? (
              <SearchBar body={body} client:load />
            ) : (
              <Fragment />
            )}
            {jwtDetails.getRole() === Role.VISITOR ? (
              <>
                {" "}
                {body.map((item: any) => (
                  <a
                    class="my-2 flex h-20 items-center justify-between rounded-md border bg-gray-100 px-4 py-2 dark:border-neutral-900 dark:bg-neutral-700 dark:text-white"
                    href={`/users/${item.id}`}
                  >
                    <span class="">
                      <Image
                        width={32}
                        height={32}
                        class="rounded-full border border-neutral-900"
                        src={Placeholder}
                        alt={`user ${item.id}`}
                        loading={"eager"}
                      />{" "}
                    </span>
                    <span class="ml-2 line-clamp-1 dark:text-white">
                      {jwtDetails.getRole() === Role.ADMIN ? (
                        item.name
                      ) : (
                        <Fragment />
                      )}
                      {jwtDetails.getRole() === Role.VISITOR ? (
                        item.id
                      ) : (
                        <Fragment />
                      )}
                    </span>
                  </a>
                ))}
              </>
            ) : (
              <Fragment />
            )}
            <div class="mt-2 w-full lg:mx-2 lg:w-3/4" transition:animate="fade">
              <slot />
            </div>
          </>
        ) : (
          <div class="mt-4 flex w-full items-center justify-center">
            <p class="text-4xl dark:text-white">There are no other users.</p>
          </div>
        )
      }
    </section>
  </Padding>
</MainLayout>
